*.[oa]
*.lo
*.loT
*.la
*.laT
*.so
*.bak
.deps
.libs
*~
.*.swp
Makefile.in
Makefile

core
core.*
vgcore*

debug
optimized
abi-x86
abi-amd64

mkinstalldirs
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
